.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: #ffffff;
  font-family: Inter, Roboto;
  background-color: #141415;
  font-size: 14px;
  line-height: normal;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #AC59FF;
}

.link-underline {
  color: #876DFE;
}

.header {
  width: 100%;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-wrapper {
  display: none;
}

.header__button-menu {
  position: relative;
  width: 22px;
  height: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.header__button-menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__button-menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__button-menu--close {
  position: relative;
  width: 46px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.header__button-menu--close::before {
  background-color: #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__button-menu--close::after {
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main {
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__about {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__about-general {
  margin-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-general__headline {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  color: #ffffff;
}

.about-general__text {
  padding: 0;
  margin: 0 0 25px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}

.about-general__img-wrapper {
  width: 100%;
  padding: 20px 10px 25px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202020;
}

.about-general__img {
  width: 100%;
  -webkit-filter: drop-shadow(0px 20px 60px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 20px 60px rgba(0, 0, 0, 0.25));
}

.main__about-part {
  margin-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-part__headline {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 54px;
  text-align: center;
  color: #ffffff;
}

.about-part__text {
  padding: 0;
  margin: 0 0 25px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */