@charset "UTF-8";
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: #ffffff;
  font-family: Inter, Roboto;
  background-color: #141415;
  font-size: 14px;
  line-height: normal;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #AC59FF;
}

.link-underline {
  text-decoration: underline;
  color: #876DFE;
}

.highlight {
  background-color: #5F45D5;
  color: #ffffff;
}

.header {
  width: 100%;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-wrapper {
  display: none;
}

.header__button-menu {
  position: relative;
  width: 22px;
  height: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.header__button-menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__button-menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__button-menu--close {
  position: relative;
  width: 46px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.header__button-menu--close::before {
  background-color: #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__button-menu--close::after {
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main {
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__about {
  margin: 35px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__about-general {
  margin-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-general__headline {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  color: #ffffff;
}

.about-general__text {
  padding: 0;
  margin: 0 0 25px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}

.about-general__img-wrapper {
  width: 100%;
  padding: 20px 10px 25px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202020;
  border-radius: 8px;
}

.about-general__img {
  width: 100%;
  -webkit-filter: drop-shadow(0px 20px 60px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 20px 60px rgba(0, 0, 0, 0.25));
}

.main__about-part {
  margin-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-part__headline {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 54px;
  text-align: center;
  color: #ffffff;
}

.about-part__text {
  padding: 0;
  margin: 0 0 25px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #DBDBDB;
}

.main__about-services {
  margin-bottom: 100px;
}

.about-services__list {
  padding: 0;
  margin: 0;
}

.about-services__list-item {
  max-width: 345px;
  min-height: 416px;
  padding: 30px 25px;
  margin: 0 0 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  background-color: #1D1E1F;
}

.list-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.list-item__bottom {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.list-item__bottom-headline {
  padding: 0;
  margin: 0 0 5px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #ffffff;
}

.list-item__bottom-text {
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 140%;
  color: #C4C4C4;
}

.main__comments {
  margin-bottom: 110px;
}

.main__comments-item {
  margin-bottom: 100px;
}

.comments-item__text {
  padding: 0;
  margin: 0 0 15px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}

.comments-item__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments-item__autor-ava {
  border-radius: 50%;
  margin-right: 15px;
}

.comments-item__autor-name {
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.main__project {
  margin: 0 auto 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__project-headline {
  padding: 0;
  margin: 0 0 25px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.main__project-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.project-buttons__button-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #5F45D5;
  border-radius: 8px;
  margin-bottom: 30px;
}

.project-buttons__button-download:last-child {
  margin: 0;
}

.button-download__text {
  margin-left: 15px;
  color: #ffffff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__project-production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-production__text {
  padding: 0;
  margin: 0 0 15px 0;
  font-family: Inter;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #808080;
}

.footer {
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__nav {
  padding: 0;
  margin: 0 0 100px 0;
}

.footer__nav-navigation {
  padding: 0;
  margin: 0;
}

.nav-navigation__column {
  padding: 0;
  margin: 0 0 65px 0;
}

.nav-navigation__column:last-child {
  margin: 0;
}

.nav-navigation__column-headline {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.nav-navigation__column-list {
  padding: 0;
  margin: 0;
}

.nav-navigation__column-list li {
  padding: 0;
  margin: 0 0 20px 0;
}

.nav-navigation__column-item {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.main__pricing-page {
  margin: 0 auto;
}

.pricing-page__tariff-container {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-page__tariff-headline {
  padding: 0;
  margin: 0 0 40px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  color: #ffffff;
}

.pricing-page__tariff {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tariff__card {
  padding: 160px 24px 45px 24px;
  margin: 0 10px 20px 10px;
  max-width: 345px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1D1E1F;
  border-radius: 20px;
}

.tariff__card:nth-child(1) {
  background-image: url(../img/icon3.svg);
  background-repeat: no-repeat;
  background-position: top 28px center;
  background-size: 128px 128px;
}

.tariff__card:nth-child(2) {
  background-image: url(../img/icon2.svg);
  background-repeat: no-repeat;
  background-position: top 28px center;
  background-size: 128px 128px;
}

.tariff__card:nth-child(3) {
  background-image: url(../img/icon1.svg);
  background-repeat: no-repeat;
  background-position: top 28px center;
  background-size: 128px 128px;
}

.tariff__card-headline {
  padding: 0;
  margin: 0 0 50px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.tariff__card-price {
  padding: 0;
  margin: 0 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-price__number {
  margin-bottom: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 63px;
  color: #ffffff;
}

.card-price__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #9C9C9E;
}

.tariff__card-services {
  padding: 0;
  margin: 0 0 25px 0;
}

.tariff-services__item {
  position: relative;
  padding: 0 0 0 25px;
  margin: 0 0 10px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #9C9C9E;
}

.tariff-services__item::after {
  content: "✓";
  position: absolute;
  top: 0;
  left: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.tariff__card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  background-color: #5F45D5;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.pricing-page__additional-container {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-page__additional-headline {
  padding: 0;
  margin: 0 0 40px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  color: #ffffff;
}

.pricing-page__additional-text {
  padding: 0;
  margin: 0 0 80px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #DBDBDB;
}

.pricing-page__additional {
  padding: 0;
  margin: 0 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.additional__card {
  padding: 160px 24px 45px 24px;
  margin: 0 10px 20px 10px;
  max-width: 345px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1D1E1F;
  border-radius: 20px;
}

.additional__card:nth-child(1) {
  background-image: url(../img/icon4.svg);
  background-repeat: no-repeat;
  background-position: top 28px center;
  background-size: 128px 128px;
}

.additional__card:nth-child(2) {
  background-image: url(../img/icon5.svg);
  background-repeat: no-repeat;
  background-position: top 28px center;
  background-size: 128px 128px;
}

.additional__card-headline {
  padding: 0;
  margin: 0 0 50px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.additional__card-price {
  padding: 0;
  margin: 0 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-price__text--important {
  color: #ffffff;
  font-weight: bold;
}

.card-price__number--crossed {
  margin-right: 5px;
  font-weight: 300;
  color: #5E5E5E;
  text-decoration: line-through;
}

.additional__card-services {
  padding: 0;
  margin: 0 0 25px 0;
}

.additional-services__item {
  position: relative;
  padding: 0 0 0 25px;
  margin: 0 0 10px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #9C9C9E;
}

.additional-services__item::after {
  content: "✓";
  position: absolute;
  top: 0;
  left: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.additional__card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  background-color: #5F45D5;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.pricing-page__additional-subtext {
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #9C9C9E;
}

@media (min-width: 768px) {
  .about-services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__nav-navigation {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav-navigation__column {
    padding: 0;
    margin: 0 10px 65px 0;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 25px 20px;
  }
  .header__container {
    margin: 0 auto;
    max-width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav-wrapper {
    display: block;
  }
  .header__nav {
    padding: 0;
    margin: 0;
  }
  .header__nav-list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav-item {
    padding: 0;
    margin: 0 30px 0 0;
  }
  .header__nav-item:last-child {
    margin: 0;
    padding-right: 50px;
    background-image: url(../img/bird.svg);
    background-size: 26px 26px;
    background-position: right center;
    background-repeat: no-repeat;
  }
  .header__nav-link {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }
  .header__button-menu {
    display: none;
  }
  .main__about {
    max-width: 1460px;
    margin-top: 97px;
  }
  .main__about-general {
    width: 100%;
    margin-bottom: 130px;
  }
  .about-general__headline {
    margin: 0 0 50px 0;
    font-size: 80px;
    line-height: 97px;
  }
  .about-general__text {
    max-width: 948px;
    margin: 0 0 75px 0;
    font-size: 48px;
    line-height: 58px;
  }
  .about-general__img-wrapper {
    padding: 75px 10px 100px 10px;
  }
  .about-general__img {
    max-width: 1080px;
  }
  .main__about-part {
    margin-bottom: 135px;
  }
  .about-part__headline {
    margin: 0 0 35px 0;
    font-size: 80px;
    line-height: 97px;
  }
  .about-part__text {
    max-width: 800px;
    margin: 0 0 30px 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
  }
  .main__about-services {
    margin-bottom: 165px;
  }
  .about-services__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-services__list-item {
    margin: 0 35px 40px 0;
  }
  .main__comments {
    margin-bottom: 175px;
  }
  .main__comments-item {
    margin: 0 auto 130px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 1115px;
  }
  .comments-item__text {
    font-size: 36px;
  }
  .main__project {
    max-width: 947px;
  }
  .main__project-headline {
    margin: 0 0 45px 0;
    font-size: 48px;
    line-height: 140%;
  }
  .main__project-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .project-buttons__button-download {
    margin: 0 20px 0 0;
  }
  .project-buttons__button-download:last-child {
    margin: 0;
  }
  .project-production__text {
    margin: 0 0 20px 0;
  }
  .footer__nav-navigation {
    max-width: 1115px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
  }
  .main__pricing-page {
    max-width: 1300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .pricing-page__tariff-container {
    margin: 100px 0 160px 0;
  }
  .pricing-page__tariff-headline {
    margin: 0 0 65px 0;
    font-weight: 600;
    font-size: 48px;
  }
  .tariff__card {
    margin: 0 20px 0 20px;
  }
  .pricing-page__additional-container {
    margin-bottom: 190px;
  }
  .pricing-page__additional-headline {
    margin: 0 0 30px 0;
    font-weight: 600;
    font-size: 48px;
  }
  .pricing-page__additional-text {
    max-width: 800px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 100px;
  }
  .pricing-page__additional {
    padding: 0;
    margin: 0 0 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .additional__card {
    margin: 0 20px 0 20px;
  }
}
/*# sourceMappingURL=style.css.map */