$color-black1: #000000;
$color-black2: #141415;
$color-white1: #ffffff;
$color-gray1: #DBDBDB;
$color-gray2: #1D1E1F;
$color-gray3: #C4C4C4;
$color-gray4: #434344;
$color-gray5: #9E9EA0;
$color-gray6: #808080;
$color-gray7: #202020;
$color-violet1: #9540EA;
$color-violet2: #AC59FF;
$color-blue1: #5F45D5;
$color-blue2: #876DFE;


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    color: $color-white1;
    font-family: Inter, Roboto;
    background-color: $color-black2;
    font-size: 14px;
    line-height: normal;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: $color-violet2;
}

.link-underline {
    text-decoration: underline;
    color: $color-blue2;
}

.header {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.header__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {}

.header__nav-wrapper {
    display: none;
}

.header__button-menu {
    position: relative;
    width: 22px;
    height: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.header__button-menu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-white1;
    transition: 0.5s;
}

.header__button-menu::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-white1;
    transition: 0.5s;
}

.header__button-menu--close {
    position: relative;
    width: 46px;
    height: 18px;
    box-sizing: border-box;
    cursor: pointer;
}

.header__button-menu--close::before {
    background-color: $color-white1;
    transform: rotate(-45deg);
    bottom: 8px;
    transition: 0.5s;
}

.header__button-menu--close::after {
    background-color: $color-white1;
    transform: rotate(45deg);
    top: 8px;
    transition: 0.5s;
}

.main {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.main__about {
    margin: 35px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__about-general {
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-general__headline {
    // width: 220px;
    padding: 0;
    margin: 0 0 20px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: $color-white1;
}

.about-general__text {
    padding: 0;
    margin: 0 0 25px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: $color-white1;
}

.about-general__img-wrapper {
    width: 100%;
    padding: 20px 10px 25px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-gray7;
    border-radius: 8px;
}

.about-general__img {
    width: 100%;
    filter: drop-shadow(0px 20px 60px rgba(0, 0, 0, 0.25));
}

.main__about-part {
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-part__headline {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 54px;
    text-align: center;
    color: $color-white1;
}

.about-part__text {
    padding: 0;
    margin: 0 0 25px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: $color-gray1;
}

.main__about-services {
    margin-bottom: 100px;
}

.about-services__list {
    padding: 0;
    margin: 0;
}

.about-services__list-item {
    max-width: 345px;
    min-height: 416px;
    padding: 30px 25px;
    margin: 0 0 30px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    background-color: $color-gray2;
}

.list-item__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;

}

.list-item__bottom {
    flex-basis: 50%;
}

.list-item__bottom-headline {
    padding: 0;
    margin: 0 0 5px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: $color-white1;
}

.list-item__bottom-text {
    padding: 0;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 140%;
    color: $color-gray3;
}

.main__comments {
    margin-bottom: 110px;
}

.main__comments-item {
    margin-bottom: 100px;
}

// .main__comments-item:last-child {
//     display: none;
// }
.comments-item__text {
    padding: 0;
    margin: 0 0 15px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: $color-white1;
}

.comments-item__autor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments-item__autor-ava {
    border-radius: 50%;
    margin-right: 15px;
}

.comments-item__autor-name {
    padding: 0;
    margin: 0;
    font-family: Inter;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $color-white1;
}



.main__project {
    margin: 0 auto 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main__project-headline {
    padding: 0;
    margin: 0 0 25px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: $color-white1;
}

.main__project-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.project-buttons__button-download {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: $color-blue1;
    border-radius: 8px;
    margin-bottom: 30px;
}

.project-buttons__button-download:last-child {
    margin: 0;
}

.button-download__text {
    margin-left: 15px;
    color: $color-white1;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    display: flex;
    align-items: center;
}

.main__project-production {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-production__text {
    padding: 0;
    margin: 0 0 15px 0;
    font-family: Inter;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: $color-gray6;
}

.footer {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer__nav {
    padding: 0;
    margin: 0 0 100px 0;
}

.footer__nav-navigation {
    padding: 0;
    margin: 0;

}

.nav-navigation__column {
    padding: 0;
    margin: 0 0 65px 0;
}

.nav-navigation__column:last-child {
    margin: 0;
}

.nav-navigation__column-headline {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: $color-white1;
}

.nav-navigation__column-list {
    padding: 0;
    margin: 0;
}

.nav-navigation__column-list li {
    padding: 0;
    margin: 0 0 20px 0;
}

.nav-navigation__column-item {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: $color-white1;
}

@media(min-width: 768px) {
    .about-services__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
.footer__nav-navigation {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.nav-navigation__column {
    padding: 0;
    margin: 0 10px 65px 0;
}



}

@media(min-width: 1024px) {

    .header {
        padding: 25px 20px;
    }

    .header__container {
        margin: 0 auto;
        max-width: 1300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo {}

    .header__nav-wrapper {
        display: block;
    }

    .header__nav {
        padding: 0;
        margin: 0;
    }

    .header__nav-list {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav-item {
        padding: 0;
        margin: 0 30px 0 0;
    }

    .header__nav-item:last-child {
        margin: 0;
        padding-right: 50px;
        background-image: url(../img/bird.svg);
        background-size: 26px 26px;
        background-position: right center;
        background-repeat: no-repeat;
    }

    .header__nav-link {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: $color-white1;
    }

    .header__button-menu {
        display: none;
    }



    .main__about {
        max-width: 1460px;
        margin-top: 97px;
    }

    .main__about-general {
        width: 100%;
        margin-bottom: 130px;
    }

    .about-general__headline {
        margin: 0 0 50px 0;
        font-size: 80px;
        line-height: 97px;
    }

    .about-general__text {
        max-width: 948px;
        margin: 0 0 75px 0;
        font-size: 48px;
        line-height: 58px;
    }

    .about-general__img-wrapper {
        padding: 75px 10px 100px 10px;
    }

    .about-general__img {
        max-width: 1080px;
    }

    .main__about-part {
        margin-bottom: 135px;
    }

    .about-part__headline {
        margin: 0 0 35px 0;
        font-size: 80px;
        line-height: 97px;
    }

    .about-part__text {
        max-width: 800px;
        margin: 0 0 30px 0;
        font-weight: normal;
        font-size: 24px;
        line-height: 150%;
    }

    .main__about-services {
        margin-bottom: 165px;
    }

    .about-services__list {
        justify-content: center;
    }

    .about-services__list-item {
        margin: 0 35px 40px 0;
    }


    .main__comments {
        margin-bottom: 175px;
    }

    .main__comments-item {
        margin: 0 auto 130px auto;
        width: fit-content;
        max-width: 1115px;
    }

    // .main__comments-item:last-child {
    //     display: none;
    // }
    .comments-item__text {
        font-size: 36px;
    }


    .main__project {
        max-width: 947px;
    }

    .main__project-headline {
        margin: 0 0 45px 0;
        font-size: 48px;
        line-height: 140%;
    }

    .main__project-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    .project-buttons__button-download {
        margin: 0 20px 0 0;
    }

    .project-buttons__button-download:last-child {
        margin: 0;
    }


    .project-production__text {
        margin: 0 0 20px 0;
    }




}